.sign-in {
  width: 30vw;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  margin-right: 50px !important;

  .title {
    margin: 10px 0;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }
}